In [2]:
# Import Dependencies 
import pandas as pd

In [6]:
#Store the file path 
file = "../../Resources/purchase_data.csv"

In [7]:
# Read the file
purchase_data_df = pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [8]:
#Find the total number of players
total_players = len(purchase_data_df["SN"].unique())

In [9]:
#Print the total players into a summary table
total_summary_df = pd.DataFrame({"Total Players": [total_players]})
                              
total_summary_df

   Total Players
0            576

In [12]:
# Find the number of unique items, average price, number of purchases, and total revenue
unique_items = len(purchase_data_df["Item Name"].unique())

average = purchase_data_df["Price"].mean()

purchase_data_df["Purchase ID"].count()
purchase_number = purchase_data_df["Purchase ID"].count()

purchase_data_df["Price"].sum()
revenue = purchase_data_df["Price"].sum()

In [14]:
# Print the summary table
summary_df = pd.DataFrame({"Number of Unique items": [unique_items], "Average Price": [average], "Number Of Purchases": [purchase_number], "Total Revenue": [revenue]})

summary_df

   Number of Unique items  Average Price  Number Of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [15]:
#Group by gender demographics
grouped_gender_df = purchase_data_df.groupby(['Gender'])

#Find the total count per gender
total_count = grouped_gender_df.nunique()["SN"]

#Percentage per gender
player_percentage = total_count/total_players *100

#Create the summary table
summary_df = pd.DataFrame({"Total Count": total_count, "Percentage of Players": player_percentage})

summary_df.index.name = None

summary_df

                       Total Count  Percentage of Players
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722

In [18]:
#Find the purchase count, average purchase price, total purchase value, and average total purchase per person
grouped_gender_df = purchase_data_df.groupby(['Gender'])

purchase_count = grouped_gender_df["Purchase ID"].count()

average_purchase = grouped_gender_df["Price"].mean()

total_purchase = grouped_gender_df["Price"].sum()

average_purchase_total = total_purchase/total_count

#Create the summary table

summary_df = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": average_purchase, "Total Purchase Value": total_purchase, "Average Total Purchase per Person": average_purchase_total})

summary_df.index.name = "Gender"

summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [27]:
#Create bins for ages
age_bins = [0, 9.9, 14.9 , 19.9, 24.9, 29.9, 34.9, 39.9, 999]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_df["Age Demographics"] = pd.cut(purchase_data_df["Age"], age_bins, labels=group_names)
purchase_data_df

age_group = purchase_data_df.groupby("Age Demographics")

age_count = age_group["SN"].nunique()

#Find the percentage per aged group
age_percentage = (age_count/total_players) * 100

#Print the summary table
summary_df = pd.DataFrame({"Total Count": age_count, "Percentage of Players":age_percentage})
                         
summary_df.index.name = None
                    
summary_df

       Total Count  Percentage of Players
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333

In [42]:
#Create bins for ages
age_bins = [0, 9.9, 14.9 , 19.9, 24.9, 29.9, 34.9, 39.9, 999]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_df["Age Demographics"] = pd.cut(purchase_data_df["Age"], age_bins, labels=group_names)
purchase_data_df

age_group = purchase_data_df.groupby("Age Demographics")

#Get the total of purchase per age group
age_purchase_count = age_group["Purchase ID"].count()

#Find the average purchase price per age group
age_average_purchase = age_group["Price"].mean()

#Find the total purchase value per age group
purchase_value = age_group["Price"].sum()

#Find the average total purchase per person
age_average_total_purchase = purchase_value/age_count


#Create the summary table

summary_df = pd.DataFrame({"Purchase Count": age_purchase_count, "Average Purchase Price": age_average_purchase, "Total Purchase Value": purchase_value, "Average Total Purchase per Person": age_average_total_purchase})

summary_df.index.name = "Age Ranges"

summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Ranges,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

In [48]:
#Group the top 5 spenders by screen name
top_spenders = purchase_data_df.groupby(['SN'])

#Find the total number of purchases per name
spender_purchase_count = top_spenders["Purchase ID"].count()

#Find the average purchase price per top spender
top_spender_average_purchase = top_spenders["Price"].mean()

#Find the total Purchase Value per top spender
top_spender_total_value = top_spenders["Price"].sum()

#Create the summary table
summary_df = pd.DataFrame({"Purchase Count": spender_purchase_count, "Average Purchase Price": top_spender_average_purchase, "Total Purchase Value": top_spender_total_value})

#Put the information into descending order
formatting_spenders = summary_df.sort_values(["Total Purchase Value"], ascending=False).head()

summary_df

total_purchase_value_df = happiness_df.sort_values("Freedom", ascending=False)
freedom_df.head()

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76                1                2.280000                  2.28
Adastirin33                 1                4.480000                  4.48
Aeda94                      1                4.910000                  4.91
Aela59                      1                4.320000                  4.32
Aelaria33                   1                1.790000                  1.79
...                       ...                     ...                   ...
Yathecal82                  3                2.073333                  6.22
Yathedeu43                  2                3.010000                  6.02
Yoishirrala98               1                4.580000                  4.58
Zhisrisu83                  2                3.945000                  7.89
Zontibe81                   3                2.676667                  8.03

[576 rows x 3 columns]